<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<style>
      .styled-table {
          border-collapse: collapse;
          margin: 5px 0;
          font-size: 0.7em;
          font-family: sans-serif;
          min-width: 800px;
          max-width: 1600px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .styled-table thead tr {
          background-color: #009879;
          color: #ffffff;
          text-align: left;
      }
      .styled-table th,
      .styled-table td {
          padding: 3px 5px;
      }
      .styled-table td.positive {
          padding: 3px 5px;
          color: #0000ff;
      }
      .styled-table td.negative {
          padding: 3px 5px;
          color: #ff0000;
      }
      .styled-table tbody tr {
          border-bottom: 1px solid #dddddd;
      }
      .styled-table tbody tr:nth-of-type(even) {
          background-color: #f3f3f3;
      }
      .styled-table tbody tr:last-of-type {
          border-bottom: 2px solid #009879;
      }
	
	
	</style>
	<title>Statistics</title>
</head>
<body>
<h4>Market sentiments</h4><h5 id="time"></h5>
<table class="styled-table" id="sentiments">
	<thead></thead>
	<tbody></tbody>
</table>
<h4>Terminal online status</h4>
<table class="styled-table" id="status">
	<thead></thead>
	<tbody></tbody>
</table>
<h4>Accounts list</h4>
<table class="styled-table" id="accounts">
	<thead>
	<tr>
		<td>Number</td>
		<td>Name</td>
		<td>Broker</td>
		<td>Server</td>
		<td>Deposit</td>
		<td>Credit</td>
		<td>Withdraw</td>
		<td>Balance</td>
		<td>Equity</td>
		<td>Margin</td>
		<td>Deals</td>
		<td>Net volume</td>
		<td>Net profit</td>
		<td>Positions</td>
		<td>Float volume</td>
		<td>Float loss</td>
		<td>Deposit load</td>
		<td>Drawdown</td>
		<td>Last updated</td>
	</tr>
	</thead>
	<tbody></tbody>
</table>
<table>
	<tr>
		<td valign="top">
			<h4>Open positions</h4>
			<table class="styled-table" id="positions">
				<thead>
				<tr>
					<td>Ticket</td>
					<td>Account</td>
					<td>Open time</td>
					<td>Symbol</td>
					<td>Type</td>
					<td>Volume</td>
					<td>Price</td>
					<td>SL</td>
					<td>TP</td>
					<td>Comm</td>
					<td>Swap</td>
					<td>Profit</td>
					<td>Magic</td>
					<td>Comment</td>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
		</td>
		<td valign="top">
			<h4>Closed deals</h4>
			<table class="styled-table" id="deals">
				<thead>
				<tr>
					<td>Ticket</td>
					<td>Account</td>
					<td>Closed time</td>
					<td>Symbol</td>
					<td>Type</td>
					<td>Volume</td>
					<td>Price</td>
					<td>SL</td>
					<td>TP</td>
					<td>Comm</td>
					<td>Swap</td>
					<td>Profit</td>
					<td>Magic</td>
					<td>Comment</td>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
<script>
function loadsentiments() {
	var symbols = ["EURUSD", "GBPUSD", "AUDUSD", "NZDUSD", "USDCHF", "USDJPY", "USDCAD", "EURJPY", "GBPJPY", "AUDJPY", "NZDJPY", "CHFJPY", "CADJPY", "EURGBP", "EURAUD", "EURNZD", "EURCHF", "EURCAD", "GBPAUD", "GBPNZD", "GBPCHF", "GBPCAD", "AUDNZD", "AUDCHF", "AUDCAD", "NZDCHF", "NZDCAD", "XAUUSD", "BTCUSD"];
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', "http://fxman.mooo.com/fxman/sentiments", true)
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var data = JSON.parse(xhr.responseText);
            var thead = document.getElementById("sentiments").getElementsByTagName('thead')[0];
            var tbody = document.getElementById("sentiments").getElementsByTagName('tbody')[0];
            while (thead.firstChild) {
                thead.firstChild.remove();
            }
            while (tbody.firstChild) {
                tbody.firstChild.remove();
            }
            var row1 = thead.insertRow(0);
            var row2 = tbody.insertRow(0);
            for (i = data.length - 1; i >= 0 ; i--) {
                if(symbols.includes(data[i][0])) {
                    var cell1 = row1.insertCell(0);
                    var cell2 = row2.insertCell(0);
                    if(data[i][1] > 0) {
                        cell2.classList.add('positive');
                    } else if(data[i][1] < 0) {
                        cell2.classList.add('negative');
                    }
                    cell1.innerHTML = data[i][0];
                    cell2.innerHTML = data[i][1];
                }
                if(data[i][0] == "Time") {
                    var time = document.getElementById("time")
		            var date = new Date(data[i][1] * 1000)
		            var now = Math.floor((new Date()).getTime() / 1000);
		            time.innerHTML = "Last updated: " + date.toISOString().slice(0, 19).replace('T', ' ') + " UTC " + Math.floor((now - data[i][1]) / 60) + " minutes ago";
		        }
            }
            
        } else {
            console.error(users);
        }
    }
    xhr.send(null);
}

function loadstatus() {
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', "http://fxman.mooo.com/fxman/status", true)
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var data = JSON.parse(xhr.responseText);
            var thead = document.getElementById("status").getElementsByTagName('thead')[0];
            var tbody = document.getElementById("status").getElementsByTagName('tbody')[0];
            while (thead.firstChild) {
                thead.firstChild.remove();
            }
            while (tbody.firstChild) {
                tbody.firstChild.remove();
            }
            var row1 = thead.insertRow(0);
            var row2 = tbody.insertRow(0);
            for (i = data.length - 1; i >= 0 ; i--) {
                var cell1 = row1.insertCell(0);
                var cell2 = row2.insertCell(0);
                cell1.innerHTML = data[i][0] + " last online";
                var date = new Date(data[i][2] * 1000)
	            var now = Math.floor((new Date()).getTime() / 1000);
	            var diff = Math.floor((now - data[i][2]) / 60)
	            if(data[i][1] > 0 || diff > 1) {
                    cell2.classList.add('positive');
                } else {
                    cell2.classList.add('negative');
                }
	            cell2.innerHTML = date.toISOString().slice(0, 19).replace('T', ' ') + " UTC " + diff + " minutes ago";
            }
            
        } else {
            console.error(users);
        }
    }
    xhr.send(null);
}

function load(name) {
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', "http://fxman.mooo.com/fxman/" + name, true)
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var data = JSON.parse(xhr.responseText);
            var tbody = document.getElementById(name).getElementsByTagName('tbody')[0];
            while (tbody.firstChild) {
                tbody.firstChild.remove();
            }
            for (i = data.length - 1; i >= 0 ; i--) {
                var row = tbody.insertRow(0);
                for (j = data[i].length - 1; j >= 0; j--) {
                    var cell = row.insertCell(0);
                    cell.innerHTML = data[i][j];
                    if((name == "accounts" && (j == 12 || j == 15)) || (name != "accounts" && j == 11)) {
	                    if(data[i][j] > 0) {
	                        cell.classList.add('positive');
	                    } else if(data[i][j] < 0) {
	                        cell.classList.add('negative');
	                    }
                    }
                }
                if(name == "accounts") {
                    var accountid = data[i][0];
                    var row1 = tbody.insertRow(1);
                    row1.innerHTML += '<td colspan=14 align="center"><img src="/fxman/static/d' + accountid + '.png"/></td><td colspan=5 align="center"><img src="/fxman/static/s' + accountid + '.png"/></td>';
                }
            }
        } else {
            console.error(users);
        }
    }
    xhr.send(null);
}

function loads() {
  loadsentiments();
  loadstatus();
  load("accounts");
  load("positions");
  load("deals");
}

loads();
setInterval(loads, 30 * 1000);

function reload() {
	location.reload()
}
setInterval(reload, 30 * 60 * 1000);


</script>