<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" sizes="32x32" href="/fxman/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/fxman/static/favicon-16x16.png">
	<style>
	  .table {
	      padding: 0px 0px;
	  }
      .styled-table {
          border-collapse: collapse;
          margin: 5px 0;
          font-size: 0.7em;
          font-family: sans-serif;
          min-width: 320px;
          max-width: 1280px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .styled-table thead tr {
          background-color: #00897b;
          color: #ffffff;
          text-align: left;
      }
      .styled-table th,
      .styled-table td {
          padding: 3px 5px;
      }
      .styled-table td.positive {
          color: #3f51b5;
      }
      .styled-table td.negative {
          color: #f44336;
      }
      .styled-table tbody tr {
          border-bottom: 1px solid #dddddd;
      }
      .styled-table tbody tr:nth-of-type(odd) {
          background-color: #f3f3f3;
      }
      .styled-table tbody tr:last-of-type {
          border-bottom: 2px solid #009879;
      }
	
	
	
	
	
	
	</style>
	<script src="https://s3.tradingview.com/tv.js" type="text/javascript"></script>
	<title>Statistics</title>
</head>
<body>
<div>
	<div style="display: table-row;">
		<div style="display: table-cell;">
			<div style="display: table-row;">
				<div style="display: table-cell;">
					<h4>Time</h4>
					<table class="styled-table" width="320">
						<thead>
						<tr>
							<td colspan="2">Clocks</td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Local</td>
							<td id="local_time"></td>
						</tr>
						<tr>
							<td>GMT</td>
							<td id="gmt_time"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div style="display: table-row;">
				<div style="display: table-cell;">
					<h4>Terminals online status</h4>
					<table class="styled-table" id="ter_status" width="320">
						<thead>
						<tr>
							<td>Account</td>
							<td>Last online</td>
							<td>Last error code</td>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div style="display: table-row;">
				<div style="display: table-cell;">
					<h4>Market sentiments & contrarians</h4>
					<table class="styled-table" width="320">
						<thead>
						<tr>
							<td id="sen_time"></td>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td style="padding: 0px 0px"></td>
						</tr>
						<tr>
							<td><img id="sen_image" src="/fxman/static/sentiments.png"/></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div style="display: table-row;">
				<div style="display: table-cell;">
					<h4>Trade signals</h4>
					<table class="styled-table" id="signals" width="320">
						<thead>
						<tr>
							<td>Symbol</td>
							<td>Type</td>
							<td>Time</td>
							<td>Price</td>
							<td>Change</td>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		
		</div>
		<div style="display: table-cell;">
			<div style="display: table-row;">
				<div style="display: table-cell;">
					<h4>Accounts list</h4>
					<table class="styled-table" id="accounts" width="960">
						<thead>
						<tr>
							<td>Number</td>
							<td>Server</td>
							<td>Deposit</td>
							<td>Credit</td>
							<td>Withdraw</td>
							<td>Balance</td>
							<td>Equity</td>
							<td>Margin</td>
							<td>Deals</td>
							<td>Net volume</td>
							<td>Net profit</td>
							<td>Positions</td>
							<td>Float volume</td>
							<td>Float loss</td>
							<td>Deposit load</td>
							<td>Drawdown</td>
							<td>Last updated</td>
						</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div style="display: table-row;">
		<div style="display: table-cell;">
			<h4>Open positions</h4>
			<table class="styled-table" id="positions" width="640">
				<thead>
				<tr>
					<td>Ticket</td>
					<td>Account</td>
					<td>Open</td>
					<td>Symbol</td>
					<td>Type</td>
					<td>Volume</td>
					<td>Price</td>
					<td>SL</td>
					<td>TP</td>
					<td>Comm</td>
					<td>Swap</td>
					<td>Profit</td>
					<td>Magic</td>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
		<div style="display: table-cell;">
			<h4>Closed deals</h4>
			<table class="styled-table" id="deals" width="640">
				<thead>
				<tr>
					<td>Ticket</td>
					<td>Account</td>
					<td>Closed</td>
					<td>Symbol</td>
					<td>Type</td>
					<td>Volume</td>
					<td>Price</td>
					<td>SL</td>
					<td>TP</td>
					<td>Comm</td>
					<td>Swap</td>
					<td>Profit</td>
					<td>Magic</td>
				</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>
<script>
function load_sentiments() {
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', "https://fxman.mooo.com/fxman/sentiments?" + timestamp(), true)
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var data = JSON.parse(xhr.responseText);
            var sen_title = document.getElementById("sen_time");
            var now = Math.floor((new Date()).getTime() / 1000);
            var time = Math.floor(Date.parse(data[0][3] + " GMT") / 1000);
            var diff = Math.floor((now - time) / 60);
            sen_title.innerHTML = "Last updated " + diff + " minutes ago";
            var sen_image = document.getElementById("sen_image");
            sen_image.src = "/fxman/static/sentiments.png?" + timestamp();
        } else {
            console.error(users);
        }
    }
    xhr.send(null);
}

function load_status() {
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', "https://fxman.mooo.com/fxman/status?" + timestamp(), true)
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var data = JSON.parse(xhr.responseText);
            var tbody = document.getElementById("ter_status").getElementsByTagName('tbody')[0];
            while (tbody.firstChild) {
                tbody.firstChild.remove();
            }
            for (i = data.length - 1; i >= 0 ; i--) {
                var row = tbody.insertRow(0);
                var cell1 = row.insertCell(0);
                cell1.innerHTML = data[i][0];
                var cell2 = row.insertCell(1);
                var now = Math.floor((new Date()).getTime() / 1000);
                var time = Math.floor(Date.parse(data[i][3] + " GMT") / 1000)
	            var diff = Math.floor((now - time) / 60);
	            if(data[i][1] == 0 || diff > 5) {
                    cell2.classList.add('negative');
                } else {
                    cell2.classList.add('positive');
                }
	            cell2.innerHTML = data[i][3] + " GMT<br>" + diff + " minutes ago";
	            var cell3 = row.insertCell(2);
	            cell3.innerHTML = data[i][2];
            }
            
        } else {
            console.error(users);
        }
    }
    xhr.send(null);
}

function load_signals() {
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', "https://fxman.mooo.com/fxman/signals?" + timestamp(), true)
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var data = JSON.parse(xhr.responseText);
            var tbody = document.getElementById("signals").getElementsByTagName('tbody')[0];
            while (tbody.firstChild) {
                tbody.firstChild.remove();
            }
            for (i = data.length - 1; i >= 0 ; i--) {
                var row = tbody.insertRow(0);
                var cell1 = row.insertCell(0);
                cell1.innerHTML = data[i][1];
                var cell2 = row.insertCell(1);
                if(data[i][2] > 0) {
                    cell2.classList.add('positive');
                    cell2.innerHTML = "Buy";
                } else {
                    cell2.classList.add('negative');
                    cell2.innerHTML = "Sell";
                }
                var cell3 = row.insertCell(2);
                var now = Math.floor((new Date()).getTime() / 1000);
                var time = Math.floor(Date.parse(data[i][6] + " GMT") / 1000)
	            var diff = Math.floor((now - time) / 60);
	            cell3.innerHTML = diff + " m<br>ago";
	            var cell4 = row.insertCell(3);
                cell4.innerHTML = data[i][4] + "<br>" + data[i][5];
                var change = (data[i][5] - data[i][4]) / data[i][4] * 100;
                var cell5 = row.insertCell(4);
                if((data[i][2] > 0 && change >= 0) || (data[i][2] < 0 && change <= 0)){
                    cell5.classList.add('positive');
                } else {
                    cell5.classList.add('negative');
                }
                cell5.innerHTML = change.toFixed(2) + "%";
	            var row1 = tbody.insertRow(1);
	            row1.innerHTML = '<td colspan="5"><div id="tradingview_' + data[i][1] + '"></div></td>'
	            tradingview(data[i][1])
            }
        } else {
            console.error(users);
        }
    }
    xhr.send(null);
}

function load(name) {
    var xhr  = new XMLHttpRequest()
    xhr.open('GET', "https://fxman.mooo.com/fxman/" + name + "?" + timestamp(), true)
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var data = JSON.parse(xhr.responseText);
            var tbody = document.getElementById(name).getElementsByTagName('tbody')[0];
            while (tbody.firstChild) {
                tbody.firstChild.remove();
            }
            for (i = data.length - 1; i >= 0 ; i--) {
                var row = tbody.insertRow(0);
                for (j = data[i].length - 1; j >= 0; j--) {
                    if(name == "accounts" && (j == 1 || j == 2)) {
                        continue;
                    }
                    if((name == "positions" || name == "deals")) {
                        if(j == data[i].length - 1) {
                            continue;
                        }
                    }
                    var cell = row.insertCell(0);
                    cell.innerHTML = data[i][j];
                    if((name == "accounts" && (j == 12 || j == 15)) || (name != "accounts" && j == 11)) {
	                    if(data[i][j] > 0) {
	                        cell.classList.add('positive');
	                    } else if(data[i][j] < 0) {
	                        cell.classList.add('negative');
	                    }
                    }
                    if((name == "positions" || name == "deals")) {
                        if(j == 4) {
	                        if(data[i][j] == 0) {
			                    cell.classList.add('positive');
			                    cell.innerHTML = "Buy";
			                } else {
			                    cell.classList.add('negative');
			                    cell.innerHTML = "Sell";
	                        }
	                    }
                    }
                }
                if(name == "accounts") {
                    var accountid = data[i][0];
                    var row1 = tbody.insertRow(1);
                    row1.innerHTML = '<td colspan=19 align="center"><img src="/fxman/static/d' + accountid + '.png?' + timestamp() + '"/><img src="/fxman/static/m' + accountid + '.png?' + timestamp() + '"/><img src="/fxman/static/s' + accountid + '.png?'  + timestamp() + '"/></td>';
                }
            }
        } else {
            console.error(users);
        }
    }
    xhr.send(null);
}

function tradingview(symbol) {
	  new TradingView.widget({
		  "width": 300,
		  "height": 150,
		  "symbol": "OANDA:" + symbol,
		  "interval": "1440",
		  "timezone": "Etc/UTC",
		  "theme": "light",
		  "style": "1",
		  "locale": "en",
		  "toolbar_bg": "#f1f3f6",
		  "enable_publishing": false,
		  "hide_top_toolbar": true,
		  "hide_legend": true,
		  "save_image": false,
		  "show_popup_button": true,
		  "popup_width": "1000",
		  "popup_height": "650",
		  "studies": [
			    "Stochastic@tv-basicstudies",
			    "MAExp@tv-basicstudies"
		  ],
		  "container_id": "tradingview_" + symbol
		}
	  );
}

function timestamp() {
	return(Math.floor((new Date()).getTime() / 100000));
}

function clock() {
	var local_time = document.getElementById("local_time");
	var gmt_time = document.getElementById("gmt_time");
	var date = new Date();
	local_time.innerHTML = date.toString('en-US').substring(0, date.toString('en-US').indexOf('('));
	gmt_time.innerHTML = date.toUTCString('en-US');
}

setInterval(clock, 1000);

function fast_loads() {
  load_status();
  load("accounts");
}

function slow_loads() {
  load_sentiments();
  load_signals();
  load("positions");
  load("deals");
}

function reload() {
	location.reload()
}

fast_loads();
setInterval(fast_loads, 30 * 1000);
slow_loads();
setInterval(slow_loads, 300 * 1000);
setInterval(reload, 30 * 60 * 1000);





</script>
